.App{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
#quote-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  padding: 2rem;

}
.buttons{
  display: flex;
  align-items: center;
  margin-top: 1rem;
  justify-content: space-between;
  width: 60%;

}